* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: beige;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

.container {
  width: 1200px;
  margin: auto;
}

nav,
.navbar__list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 20px 0;
}

.navbar__list {
  gap: 50px;
}

.navbar__link {
  font-family: "Barlow";
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 0.923077px;
  text-transform: uppercase;
  color: #83888f;
}

.navbar__link:hover {
  color: #000000;
  transition: all 0.3s linear;
  font-size: 13px;
}

.header__logo {
  width: 236px;
  height: 26px;
}

.intro {
  height: 500px;
  background-image: url("../images/Bitmap.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  width: 1200px;
  height: 500px;
  margin: 30px auto;
  border-radius: 10px;
}

.intro__container {
  display: flex;
  flex-direction: column;
}

.intro__left {
  margin: 0 100px;
}

.intro__title {
  width: 500px;
  height: 150px;
  font-family: "Fraunces";
  font-style: normal;
  font-weight: 900;
  font-size: 72px;
  line-height: 72px;
  color: #fefcf7;
  margin-top: 120px;
}

.intro__text {
  width: 445px;
  font-family: "Barlow";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  /* or 162% */

  color: #fefcf7;

  mix-blend-mode: normal;
  opacity: 0.8;
}

.our {
  width: 100%;
  margin-top: 100px;
}

.our__container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.our__left {
  display: flex;
  align-items: start;
  justify-content: start;
  flex-direction: column;
  margin-left: 100px;
}

.our__img {
  margin-left: 70px;
}

.our__title {
  font-family: "Fraunces";
  font-style: normal;
  font-weight: 900;
  font-size: 40px;
  line-height: 48px;
  /* identical to box height, or 120% */

  color: #333d4b;
}

.our__text {
  width: 540px;
  font-family: "Barlow";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  /* or 162% */

  color: #333d4b;

  mix-blend-mode: normal;
  opacity: 0.8;
  margin: 30px 0;
}

.promo {
  width: 100%;
  margin-top: 120px;
}

.promo__container {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #2c343e;
  border-radius: 10px;
}

.promo__box {
  width: 1200px;
  height: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 0 70px;
}

.promo__title {
  align-self: start;
  font-family: "Fraunces";
  font-style: normal;
  font-weight: 900;
  font-size: 40px;
  line-height: 48px;
  /* identical to box height, or 120% */

  color: #fefcf7;
}

.promo__text {
  align-self: start;
  width: 540px;
  font-family: "Barlow";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  /* or 162% */

  color: #fefcf7;

  mix-blend-mode: normal;
  opacity: 0.8;
  margin: 30px 0;
}

.promo__logo {
  position: absolute;
  top: 1250px;
  right: 185px;
}

.work {
  width: 100%;
  margin-top: 100px;
}

.work__container {
  display: flex;
  align-items: start;
  justify-content: start;
  flex-direction: column;
}

.work__items {
  display: flex;
  align-items: start;
  justify-content: start;
  gap: 150px;
  margin-top: 70px;
}

.work__item {
  display: flex;
  align-items: start;
  justify-content: start;
  flex-direction: column;
  width: 300px;
  height: 250px;
}
.work__item:hover {
  display: flex;
  align-items: start;
  justify-content: start;
  flex-direction: column;
  background-color: burlywood;
  border-radius: 10px;
  transition: all 0.3s ease;
}
.work__item:active {
  display: flex;
  align-items: start;
  justify-content: start;
  flex-direction: column;
  background-color: rgb(255, 145, 0);
  border-radius: 15px;
  transition: all 0.3s ease;
}

.work__title {
  align-self: start;
  font-family: "Fraunces";
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 32px;
  /* identical to box height, or 133% */

  color: #83888f;
}

.work__title-item {
  font-family: "Fraunces";
  font-style: normal;
  font-weight: 900;
  font-size: 32px;
  line-height: 36px;
  /* identical to box height, or 112% */

  color: #333d4b;
  margin: 20px 0;
}

.work__text-item {
  font-family: "Barlow";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  /* or 162% */

  color: #333d4b;
}

.footer {
  width: 100%;
  margin-top: 150px;
}

.footer__container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: #2c343e;
  height: 120px;
}

.footer__logo {
  width: 236px;
  height: 26px;
}

.footer__link {
  font-family: "Barlow";
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 0.923077px;
  text-transform: uppercase;
  color: #83888f;
}

.footer__link:hover {
  color: #ffffff;
  transition: all 0.3s linear;
  font-size: 13px;
}
