* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: beige;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

.container {
  width: 1200px;
  margin: auto;
}

nav,
.navbar__list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 20px 0;
}

.navbar__list {
  gap: 50px;
}

.navbar__link {
  font-family: "Barlow";
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 0.923077px;
  text-transform: uppercase;
  color: #83888f;
}

.navbar__link:hover {
  color: #000000;
  transition: all 0.3s linear;
  font-size: 13px;
}

.header__logo {
  width: 236px;
  height: 26px;
}
.intro {
  height: 500px;
  background-image: url("../images/Bitmap\ \(1\).png");
  background-size: cover;
  background-repeat: no-repeat;
  width: 1200px;
  height: 500px;
  margin: 30px auto;
  border-radius: 10px;
}

.intro__container {
  display: flex;
  flex-direction: column;
}

.intro__left {
  margin: 0 100px;
}

.intro__title {
  width: 500px;
  height: 150px;
  font-family: "Fraunces";
  font-style: normal;
  font-weight: 900;
  font-size: 72px;
  line-height: 72px;
  color: #fefcf7;
  margin-top: 120px;
}

.intro__text {
  width: 445px;
  font-family: "Barlow";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  /* or 162% */

  color: #fefcf7;

  mix-blend-mode: normal;
  opacity: 0.8;
}

.work {
  width: 100%;
}

.work__container {
  margin-top: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 1200px;
  height: 550px;
  background-color: #2c343e;
  border-radius: 10px;
}

.work__title {
  align-self: start;
  font-family: "Fraunces";
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 32px;
  /* identical to box height, or 133% */
  margin-bottom: 50px;
  color: #ffffff;
}

.work__img {
  align-self: start;
  width: 791px;
  height: 30px;
  margin-top: 50px;
  margin-left: 30px;
}

.work__num {
  font-family: "Fraunces";
  font-style: normal;
  font-weight: 900;
  font-size: 72px;
  line-height: 72px;
  /* identical to box height, or 100% */

  color: #fdd6ba;
}

.work__items {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 150px;
  margin: 50px 0;
}

.work__item {
  width: 280px;
  height: 330px;
  display: flex;
  align-items: start;
  justify-content: start;
  flex-direction: column;
}

.work__title-item {
  font-family: "Fraunces";
  font-style: normal;
  font-weight: 900;
  font-size: 32px;
  line-height: 36px;
  /* or 112% */

  color: #ffffff;
  margin: 30px 0;
}

.work__text-item {
  width: 375px;
  height: 130px;
}

.work__text-item {
  width: 285px;
  height: 130px;
  font-family: "Barlow";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  /* or 162% */

  color: #c0c0c0;
}

.plan {
  width: 100%;
  margin-top: 150px;
  padding-bottom: 120px;
}

.plan__container {
  display: flex;
  justify-content: space-between;
  align-items: start;
  gap: 125px;
}

.plan__navbar {
  width: 255px;
  position: sticky;
  top: 40px;
}

.plan__item {
  font-family: "Fraunces";
  font-size: 24px;
  font-weight: 900;
  color: rgba(131, 136, 143, 0.4);
  padding: 24px 0;
  border-bottom: 1px solid rgba(131, 136, 143, 0.25);
  transition: all 0.3s linear;
}

.plan__num {
  margin-right: 28px;
}

.plan__item {
  font-family: "Fraunces";
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 32px;
  /* identical to box height, or 133% */

  color: #333d4b;
}

.plan__num {
  color: #0e8784;
}

.plan__content {
  width: 730px;
}

.questions__group {
  margin-bottom: 90px;
}

.questions__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 55px;
}

.questions__subtitle {
  font-family: "Fraunces";
  font-style: normal;
  font-weight: 900;
  font-size: 40px;
  line-height: 48px;
  /* identical to box height, or 120% */

  color: #83888f;
}

.questions__cards-row {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 23px;
}

.questions__card {
  background-color: #f4f1eb;
  padding: 32px 28px 84px;
  border-radius: 8px;
  transition: all 0.3s linear;
}

.questions__card:hover {
  background-color: #fdd6ba;
}
.questions__card-active {
  background-color: #0e8784;
  color: white;
}

.questions__card-title {
  font-family: "Fraunces";
  font-size: 24px;
  color: #333d4b;
  margin-bottom: 24px;
}

.questions__card-text {
  font-family: "Barlow";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  /* or 162% */

  color: #333d4b;
}

.questions__card-active .questions__card-title,
.questions__card-active .questions__card-text {
  color: #ffffff;
}

.summary {
  background-color: #2c343e;
  padding: 45px 60px;
  border-radius: 10px;
  margin-top: 88px;

  font-family: "Fraunces";
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 40px;
  /* or 167% */

  color: #ffffff;
}

.summary__label {
  margin-bottom: 10px;
  font-family: "Barlow";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  /* identical to box height, or 162% */
  text-transform: uppercase;

  color: #ffffff;

  mix-blend-mode: normal;
  opacity: 0.5;
}

.summary__text {
  font-family: "Fraunces";
  font-size: 24px;
  line-height: 40px;
  font-style: normal;
  font-weight: 900;
  color: #ffffff;
}

.summary__span {
  color: #0e8784;
}

.plan__actions {
  display: flex;
  justify-content: end;
  margin-top: 40px;
}

.questions__btn {
  width: 217px;
  height: 56px;
  background: #66d2cf;
  border-radius: 6px;
  font-family: "Fraunces";
  font-style: normal;
  font-weight: 900;
  font-size: 18px;
  line-height: 25px;
  /* identical to box height, or 139% */
  text-align: center;
  border: none;
  color: #fefcf7;
}

.footer {
  width: 100%;
  margin-top: 100px;
}

.footer__container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: #2c343e;
  height: 120px;
}

.footer__logo {
  width: 236px;
  height: 26px;
}

.footer__link {
  font-family: "Barlow";
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 0.923077px;
  text-transform: uppercase;
  color: #83888f;
}

.footer__link:hover {
  color: #ffffff;
  transition: all 0.3s linear;
  font-size: 13px;
}
